<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crayfish.ipclearn">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ParcelableActivity"/>
        <activity android:name=".MessengerActivity"/>
        <service android:name=".MessengerService" android:enabled="true" android:exported="true" android:process=":remote">
            <intent-filter>
                <action android:name="com.crayfish.service"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <service android:name=".aidl.BookManagerService" android:process=":remote"/>
        <activity android:name=".aidl.BookManagerActivity"/>

        <activity android:name=".provider.ProviderActivity"/>
        <provider
            android:authorities="com.crayfish.ipclearn.provider"
            android:name=".provider.BookProvider"
            android:permission="com.crayfish.provider"
            android:process=":provider"/>

        <activity android:name=".socket.SocketActivity"/>
        <service android:name=".socket.TCPServerService" android:process=":remote"/>

        <activity android:name=".aidl.BinderPoolActivity"/>
        <service android:name=".aidl.BinderPoolService" android:process=":remote"/>
    </application>

</manifest>